*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: black;
}

h1 {
    text-align: center;
    margin: 10px;
    border-radius: 5px;

    color: white;
    background-color: orangered;
    text-shadow: 5px 5px 5px black;
}

.box {
    display: flex;
    justify-content: center;

    margin: 0px 5px 0px 5px;
    border-radius: 5px;

    background-color: orangered;
}

.subbox {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;

    margin: 10px;
    background: orange;
    border: 2px solid black;
    border-radius: 5px;
}

.subbox div {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;

    background-color: yellow;
}

div p{
    color: black;
    text-shadow: 2px 2px 2px red;
}

p {
    margin: 10px;
    color: white;
}