body {
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container div{
    background-color: rgb(60, 60, 60);
    border-width: 2px;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 5px;
}

p {
    text-align: center;
}